<div style="justify-items: center;">
    <h2 style="padding-top: 5px;">{{isEditMode ? 'Update Physician Details' : 'Add New Physician'}}</h2>
  <form [formGroup]="physicianForm" (submit)="submitForm()" style="display: flex; flex-direction: column; margin: auto; width: 80%; padding: 30px 0;">
    <mat-form-field>
      <input matInput placeholder="Eg. Dr. Harvey" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Eg. Cardiologist" formControlName="position"/>
    </mat-form-field>
    <div>
        <button mat-button [disabled]="physicianForm.invalid" type="submit">
            Submit
        </button>
        <button mat-button (click)="onClose()">
            Cancel
        </button>
    </div>
  </form>
</div>
