<div style="justify-items: center;">
    <h2 style="padding-top: 5px;">{{isEditMode ? 'Update Room Details' : 'Add Room'}}</h2>
  <form [formGroup]="roomForm" (submit)="submitForm()" style="display: flex; flex-direction: column; margin: auto; width: 80%; padding: 30px 0;">
    <mat-form-field>
      <input matInput type="number" placeholder="Floor of the Block" formControlName="roomNumber" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="" formControlName="roomType"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="" formControlName="availability"/>
    </mat-form-field>

    <div>
        <button mat-button [disabled]="roomForm.invalid" type="submit">
            Submit
        </button>
        <button mat-button (click)="onClose()">
            Cancel
        </button>
    </div>
  </form>
</div>