<div style="justify-items: center;">
    <h2 style="padding-top: 5px;">{{isEditting ? 'Update Appointment Record' : 'New Appointment'}}</h2>
    
    <form [formGroup]="appointmentForm" (submit)="submitForm()" style="display: flex; flex-direction: column; margin: auto; width: 80%; padding: 20px 0;">
        <mat-form-field>
            <mat-label>Select OnCall ID</mat-label>
            <mat-select formControlName="onCallId">
                @for(onCall of onCallData; track onCall){
                    <mat-option [value]="onCall.onCallId">{{onCall.onCallId}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Select Patient ID</mat-label>
            <mat-select formControlName="patientId">
                @for(patient of patientData; track patient.name){
                    <mat-option [value]="patient.patientId">{{patient.patientId}}-{{patient.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Physician ID</mat-label>
            <mat-select formControlName="physicianId">
                @for(physician of physicianData; track physician.name){
                    <mat-option [value]="physician.physicianId">{{physician.physicianId}}-{{physician.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="startDatepicker" formControlName="startDateTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="startDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="endDateTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div style="margin-top: 5px;">
            <button mat-button [disabled]="appointmentForm.invalid" type="submit">
                Submit
            </button>
            <button mat-button (click)="onClose()">
                Cancel
            </button>
        </div>
    </form>
</div>
