<div style="margin: 10px;">
    <mat-toolbar>
        <h1>HMS</h1>
        <div style="margin-left: 40px;">
            <button mat-button routerLink="/physician" routerLinkActive="active">
                Physicians
            </button>
            <button mat-button routerLink="/nurse" routerLinkActive="active">
                Staff
            </button>
            <button mat-button routerLink="/procedure" routerLinkActive="active">
                Services
            </button>
            <button mat-button routerLink="/rooms" routerLinkActive="active">
                Rooms
            </button>
            <button mat-button routerLink="/block" routerLinkActive="active">
                Block
            </button>
            <button mat-button routerLink="/on-call" routerLinkActive="active">
                OnCall
            </button>
            <button mat-button routerLink="/patient" routerLinkActive="active">
                Patients
            </button>
            <button mat-button routerLink="/appointment" routerLinkActive="active">
                Appointment
            </button>
        </div>
    </mat-toolbar>
</div>

